In [8]:
#Q1
def grade():
    percent=int(input("enter percentage obtained"))
    if percent>90:
        return "Grade A"
    elif percent>80 and percent<=90:
        return "Grade B"
    elif percent>60 and percent<=80:
        return "Grade C"
    else:
        return "Grade D"

In [9]:
grade()

enter percentage obtained 500

'Grade A'

In [10]:
grade()

enter percentage obtained 70

'Grade C'

In [14]:
#Q2
def tax():
    cp=int(input("enter the cost price of bike"))
    if cp>100000:
        return cp*15/100 ,"is your tax to pay"
    elif cp>50000 and cp>=100000:
        return cp/10, "is your tax to pay"
    else:
        return cp/20, "is your tax to pay"

In [15]:
tax()

enter the cost price of bike 50000

(2500.0, 'is your tax to pay')

In [16]:
#Q3
def monument():
    city=input("enter the a city from delhi,agra and jaipur to know monumnet")
    city=city.lower()
    if city=="delhi":
        return "redfort"
    elif city=="agra":
        return "tajmahal"
    elif city=="jaipur":
        return "jalmahal"
    else:
        return "invalid choice"

In [18]:
monument()

enter the a city from delhi,agra and jaipur to know monumnet DELHI

'redfort'

In [5]:
#Q4
def count_divisibility():
    count=0
    num=float(input("enter a number"))
    while num>10:
        num=num/3
        count=count+1
    return count

In [8]:
count_divisibility()

enter a number 40

2

In [1]:
#Q5
'''loop in programming is used to iterate a piece of code multiple times there are 2 types of loops for loop and while loop
for loop is used when we know know how many times the loop is goint to iterate where as while loop is useful when we are not sure about the 
number of iterations and want to run a code until a condition is met which is specified in the while loop syntax
For example if we want to print numbers from 1 to 100 we know the range of iteration that is 1-100 so we will use for loop 
whereas when we are given a number and want to find that how many times the number is going to be divided by a specific number 
here we dont know how many time the loop will be iterated therefore we will use the while loop'''

'loop in programming is used to iterate a piece of code multiple times there are 2 types of loops for loop and while loop\nfor loop is used when we know know how many times the loop is goint to iterate where as while loop is useful when we are not sure about the \nnumber of iterations and want to run a code until a condition is met which is specified in the while loop syntax\nFor example if we want to print numbers from 1 to 100 we know the range of iteration that is 1-100 so we will use for loop \nwhereas when we are given a number and want to find that how many times the number is going to be divided by a specific number \nhere we dont know how many time the loop will be iterated therefore we will use the while loop'

In [3]:
#Q6
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  4

*
* *
* * *
* * * *

In [1]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  4

* * * *
* * *
* *
*

In [2]:

def pattern(n):
   i = 1
   while i<=n:
      # printing stars
      print(" "*(n-i) + "* " * i)
      i+=1 
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  4

   *
  * *
 * * *
* * * *

In [2]:
#Q7
n=10
while n>=1:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1